# k8s/secrets.yml.template
# NO SUBIR EL ARCHIVO 'secrets.yml' REAL A GIT. ESTO ES SOLO UNA PLANTILLA.
apiVersion: v1
kind: Secret
metadata:
  name: api-secrets
type: Opaque
stringData:
  django_secret_key: "un-secreto-muy-fuerte-y-largo-para-produccion"
  database_url: "postgres://usuario:contraseña@host-de-la-bd:5432/nombre_db"