# .github/workflows/ci.yml

# Nombre del workflow que aparecer치 en la pesta침a "Actions" de GitHub.
name: Django CI

# Define cu치ndo se debe ejecutar este workflow.
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Define los "trabajos" (jobs) que se ejecutar치n.
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13-alpine
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Django Tests
      env:
        DATABASE_URL: "postgres://test_user:test_password@localhost:5432/test_db"
        DJANGO_SECRET_KEY: "a-secret-key-just-for-testing"
        DJANGO_SETTINGS_MODULE: demo.settings
        DB_ENGINE: django.db.backends.postgresql
        DB_NAME: test_db
        DB_USER: test_user
        DB_PASSWORD: test_password
        DB_HOST: 127.0.0.1
        DB_PORT: 5432
      run: |
        python manage.py test